  <nav class="col-span-12 flex justify-end items-center gap-4 p-4">
    <ul class="flex gap-4">
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}"
             class="{{ if $.IsMenuCurrent "main" . }}font-semibold underline{{ end }}">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>

    {{ if .IsTranslated }}
      <ul class="flex gap-2 border-l pl-4">
        {{ range .Translations }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Language.Label }}</a>
          </li>
        {{ end }}
        <li aria-current="true">{{ .Language.Label }}</li>
      </ul>
    {{ end }}
  </nav>
