{{- define "metatags" }} {{- partial "metatags.html" . }} {{- end }} {{- define
"main" }}

<div class="grid grid-cols-12 w-full bg-red-200">
  {{ partial "menu.html" .}}
</div>

<div class="grid grid-cols-12 w-full bg-red-200">
  <div
    class="hidden md:block md:col-span-2 lg:col-span-1 xl:col-span-2 bg-green-200 z-10"
    style="{{/*
		  --sidebar-width: 0%; 
		--sidebar-width-md: 16.67%;
		--sidebar-width-lg: 20%
		--sidebar-width-xl: 24%;
		*/}}
		z-index:0;
	        background:url('/images/{{ .Params.picture }}') no-repeat;
		background-size: cover;
		background-position: center"
  >
    <!-- left column -->
  </div>

  <div
    class="col-span-12 md:col-span-8 lg:col-span-8 xl:col-span-6 2xl:col-span-5 3xl:col-span-4 prose prose-lg max-w-none bg-white p-6"
  >
    <h1>under construction</h1>
    {{ .Content }}
  </div>

  <div
    class="hidden md:block md:col-span-2 lg:col-span-3 xl:col-span-4 2xl:col-span-5 3xl:col-span-6 bg-blue-200 z-30"
    style="background:url('/images/{{ .Params.picture }}') no-repeat; 
		  background-size: cover;
		  {{/*
		  background-position: calc(var(--sidebar-width-xl) * -1) center;
		  */}}
		  "
  >
    <!-- right column -->
    right
  </div>
</div>

{{- end }}{{/* end main */}}
