{{- define "metatags" }} {{- partial "metatags.html" . }} {{- end }} {{- define
"main" }}


  <div class="grid grid-cols-16">
    {{ partial "menu.html" . }}
  </div>

    <div class="w-screen relative left-1/2 -translate-x-1/2 bg-zinc-200">
  <div class="grid grid-cols-24">


    <!-- left column: thin sliver image -->
    <div class="z-8 hidden xl:block xl:col-span-1 h-[clamp(16rem,30vw,34rem)]  shadow-black/25"

         style="background-image:url('{{ printf "images/%s" .Params.picture_left | relURL }}');
                background-repeat:no-repeat;
                background-size:auto 110%;
                background-position:left top;">
    </div>

    <!-- right column: wide artwork image -->
    <div class="order-1 lg:order-3 hidden md:block md:col-span-24	
	 lg:col-span-12 xl:col-span-11 2xl:col-span-11 3xl:col-span-11

	    ">

            <div class="z-8 md:h-[30rem] lg:h-[clamp(16rem,30vw,34rem)] shadow-2xl shadow-black/25"
                style="background-image:url('{{ printf "images/%s" .Params.picture_right | relURL }}');
                background-repeat:no-repeat;
                background-size:cover;
                background-position:left 20%;">
</div>
	    <div class="hidden lg:block p-6 xl:p-12 z-6">
		    <b>University of California, San Francisco</b></br>
		Dept. of Cellular and Molecular Mad Science</br>
		Mission Bay — Genentech Hall</br>
	    </div>
    </div>

    <!-- center -->
    <div class="order-2 lg:order-2 col-span-24 z-10
                md:col-span-24 lg:col-span-12 xl:col-span-12 2xl:col-span-12 3xl:col-span-12
                max-w-none prose lg:prose-md xl:prose-xl 2xl:prose-2xl
                bg-white shadow-2xl shadow-black/25 p-6 xl:p-12
                ">
      {{ .Content }}
    </div>

  </div>
</div>

  {{- end }}{{/* end main */}}

