<div class="not-prose grid grid-cols-[auto_1fr] gap-4 items-start mb-8">
{{- $link := .Get "link" -}}
{{- $label := .Get "label" -}}
{{- $letter := .Get "letter" | default "A" -}}
{{- $title := .Get "title" -}}
{{- $letterLower := $letter | lower -}}
{{- $iconPath := printf "images/icons/download_%s_cube.png" $letterLower -}}
{{- $icon := printf "<img src=\"%s\" alt=\"\" class=\"w-16 h-16 object-contain block\">" ($iconPath | relURL) -}}
{{- if $link }}
<a href="{{ $link }}" target="_blank" rel="noopener" aria-label="{{ $label }}">{{ $icon | safeHTML }}</a>
{{- else }}
<span>{{ $icon | safeHTML }}</span>
{{- end }}
<div>
<h4 class="leading-tight">{{ $title }}</h4>
<div class="text-sm mt-1">
{{ .Inner }}
</div>
</div>
</div>
